/* ------------------
    RESET
------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------
    COMMON
------------------ */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
img {
    display: inline-block;
    height: 100%;
}

/* ------------------
    HEADER  
------------------ */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5625rem;
    height: 5.625rem;
}
.logo {
    display: flex;
    height: 100%;
}
.logo-title {
    font-size: 2.625rem;
    line-height: 5.625rem;
}
.btn-choose {
    display: flex;
    align-items: center;
}
.btn {
    padding: .1875rem 2.5rem;
    cursor: pointer;
}
.ml-5 {
    margin-left: .3125rem;
}

/* ------------------
    MAIN
------------------ */
main {
    position: relative;
    flex-grow: 1;
    background-color: #7fffd4;
    display: flex;
}
#box__container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 60vh;
    height: 60vh;
    border: 1px solid black;
    margin: auto;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    box-shadow: 12px 12px 2px 1px rgba(11, 69, 13, 0.2);
}
#advice {
    position: absolute;
    bottom: .625rem;
    left: 50%;
    transform: translate(-50%);
}
#win-banner {
    position: absolute;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: .625rem;
    background-color: green;
    width: 250px;
    height: 130px;
    top: 50%;
    transform: translateY(-50%);
    right: 15%;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    opacity: 0;
    transition: 0.4s ease-in;
}
#lose-banner {
    position: absolute;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: .625rem;
    background-color: blueviolet;
    width: 200px;
    height: 100px;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    opacity: 0;
    transition: 0.4s ease-in;
}
.show {
    opacity: 1 !important;
    transition: opacity 0.5s ease-in;
}
.box__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: lightgreen;
    border: 1px solid black;
    cursor: pointer;
}
.box__item:active {
    transform: scale(0.90);
}
.box__item10 {
    width: calc(100% / 10);
    height: calc(100% / 10);
}
.box__item9 {
    width: calc(100% / 9);
    height: calc(100% / 9);
}
.box__item7 {
    width: calc(100% / 7);
    height: calc(100% / 7);
}
.bg-change {
    background-color: blue;
    color: white;
}
.bg-change-error {
    background-color: red;
    color: white;
}

/* ------------------
    FOOTER
------------------ */
footer {
    height: 5rem;
    padding: 0 1.5625rem;
}
.credit {
    line-height: 5rem;
}